* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block1, .block2, .block3 {
    border: 1px solid #000;
    margin: 50px;
}

.block1 {
    width: 200px;
    height: 100px;
    animation: rotate 1s  linear infinite;
}

.block2 {
    width: 200px;
    height: 100px;
    animation: pulse 1s infinite alternate;
}

.block3 {
    width: 200px;
    height: 100px;
    animation: shake 1s linear infinite alternate;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.2);
    }
}

@keyframes shake {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(10px);
    }
}